@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
  font-family: 'Spartan', sans-serif;
}

body {
  max-width: 100%;
  height: 100%;
  
  background-image: url(../images/bg-pattern-top-mobile.svg),
                    url(../images/bg-pattern-bottom-mobile.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: top center, bottom center;
  background-size: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

}

section{
  width: 90%;
  height: auto;
}

section#section-01, section#section-02{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  padding-top: 45px;
}

section#section-01 h1{
  width: 280px;
  font-size: 25px;
  color: hsl(300, 43%, 22%);
}

section#section-01 > div > p{
  width: 270px;
  font-size: 12px;
  line-height: 1.5;
  font-weight: lighter;
  color: hsl(300, 43%, 22%);
  margin: 10px 0;
}

container.container-section-01{
  width: 100%;
}

.content-container-section-01{
  margin: 15px 0;
  padding: 15px 0;
  border-radius: 10px;
  background-color: hsl(300, 24%, 96%);
}

.stars img{
  width: 13px;
  margin: 0 2px;
}

.content-container-section-01 p{
  font-size: 12px;
  line-height: 1.5;
  font-weight: 700;
  color: hsl(300, 43%, 22%);
}

section#section-02 > container.container-section-02{
  min-height: 200px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 10px 0;
  border-radius: 10px;
  background-color: hsl(300, 43%, 22%);
}

.content-container-section-02{
  width: 90%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 0;
}

div.profile{
  width: 40px;
  height: 40px;

  border-radius: 50%;
}

#profile-1{
  background-image: url(../images/image-colton.jpg);
  background-size: cover;
}

#profile-2{
  background-image: url(../images/image-irene.jpg);
  background-size: cover;
}

#profile-3{
  background-image: url(../images/image-anne.jpg);
  background-size: cover;
}

.information{
  text-align: left;
  padding-left: 15px;
}

.name{
  font-size: 0.9rem;
  color: hsl(300, 24%, 96%);
}

.checked{
  color: hsl(333, 80%, 67%);
  font-weight: lighter;
  font-size: 0.8rem;
}

.desc{
  text-align: left;
  font-size: 0.8rem;
  line-height: 1.4;
  color: hsl(300, 24%, 96%);
}

.attribution{
  width: 90%;
  text-align: center;
  margin: 20px 0;
  font-size: 0.9rem;
}

@media screen and (min-width: 375px)  {

  div.profile{
    width: 50px;
    height: 50px;
  }

  section#section-02 > container.container-section-02{
    min-height: 250px;
  }

  .desc{
    padding-right: 40px;
    line-height: 1.8;
  }
}

@media screen and (min-width: 768px){
  section#section-02{
    flex-direction: row;
    flex-wrap: wrap;
  }

  section#section-02 > container.container-section-02{
    max-width: 300px;

    margin: 20px;
  }

  section#section-02 > container.container-section-02:nth-child(3){
    margin: 0 auto;
  }
}

@media screen and (min-width: 1024px){
  section#section-01{
    height: 30vh;
    flex-direction: row;
  }

  section#section-01 > div{
    width: 50%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    text-align: left;
  }

  section#section-01 > div > h1{
    width: 90%;
    font-size: 40px;
  }

  section#section-01 > div > p{
    width: 100%;
    font-size: 15px;
  }

  container.container-section-01{
    width: 50%;
  }

  section#section-02{
    justify-content: center;
  }
}

@media screen and (min-width: 1134px){
  body{
    background-image: url(../images/bg-pattern-top-desktop.svg),
                      url(../images/bg-pattern-bottom-desktop.svg);
    background-position: top left, bottom right;
    background-repeat: no-repeat, no-repeat;
    background-size: 43%, 50%;
  }

  section#section-01{
    height: 50vh;
  }

  section#section-01 > div > h1{
    width: 80%;
    font-size: 40px;
  }

  section#section-01 > div > p{
    width: 90%;
    font-size: 15px;
  }

  .content-container-section-01{
    max-width: 440px;
  }

  .content-container-section-01:nth-child(2){
    margin-left: 40px;
  }

  .content-container-section-01:nth-child(3){
    margin-left: 80px;
  }

  .stars img{
    width: 16px;
  }

  .content-container-section-01 p{
    font-size: 14px;
  }

  container.container-section-02{
    min-width: 350px;
  }

  section#section-02 > container.container-section-02:nth-child(3){
    margin: 20px;
  }
}

@media screen and (min-width: 1250px){
  section#section-01 > div > h1{
    font-size: 45px;
  }

  section#section-01 > div > p{
    width: 100%;
    font-size: 18px;
  }
}

@media screen and (min-width: 1300px){
  section#section-02 > container.container-section-02{
    max-width: 350px;
    margin: 0 15px !important;
  }

  section#section-02 > container.container-section-02:nth-child(2){
    margin-top: 50px;
  }

  section#section-02 > container.container-section-02:nth-child(3){
    margin-top: 100px;
  }
}

@media screen and (min-width: 1436px){
  section#section-01{
    height: 50vh;
    justify-content: flex-end;
  }

  section#section-01 > div{
    max-width: 576px;
  }

  section#section-01 > div > h1{
    width: 360px;
    font-size: 40px;
  }

  section#section-01 > div > p{
    width: 476px;
    font-size: 15px;
  }

  section#section-02{
    height: 44vh;
    justify-content: center;
  }

  section#section-02 > container.container-section-02{
    max-width: 400px;
  }

  section#section-02 > container.container-section-02:nth-child(2){
    margin-top: 50px !important;
  }

  section#section-02 > container.container-section-02:nth-child(3){
    margin-top: 100px !important;
  }
}

@media screen and (min-width: 2560px){
  section#section-01{
    width: 100%;
    height: 50vh;
    justify-content: center;
  }

  section#section-01 > div{
    width: 50vw;
  }

  section#section-01 > div > h1{
    width: 760px;
    font-size: 80px;
  }

  section#section-01 > div > p{
    width: 700px;
    font-size: 23px;
  }

  container.container-section-01{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }

  div.content-container-section-01{
    max-width: 1000px;
    width: 800px;
    padding: 25px 0;
  }

  div.content-container-section-01:nth-child(1){
    margin-right: 200px;
  }

  div.content-container-section-01:nth-child(2){
    margin-right: 100px;
  }

  div.content-container-section-01 img{
    width: 30px;
  }

  div.content-container-section-01 p{
    font-size: 25px;
  }

  section#section-02{
    width: 100%;
    height: 50vh;
  }

  section#section-02 container.container-section-02{
    max-width: 600px;
    height: 450px;
  }

  div.profile{
    width: 80px;
    height: 80px;
  
    border-radius: 50%;
  }
  
  .name{
    font-size: 1.8rem;
  }
  
  .checked{
    font-size: 1.4rem;
  }
  
  .desc{
    text-align: left;
    font-size: 1.6rem;
    line-height: 1.4;
    color: hsl(300, 24%, 96%);
  }
  
  .attribution{
    width: 100%;
    font-size: 1rem;
  }

}